@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rubik+Vinyl&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0d1117;
}

#nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 150px;
  gap: 40px;
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 1; /* Set z-index higher than the video */
}

#nav .logo {
  font-size: 34px;
  font-weight: 800;
  cursor: pointer;
}
#nav .logo .dev {
  color: orange;
}

#nav .logo .prog {
  color: white;
}

#nav .logo .dot {
  color: orange;
}

#nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Tilt Neon", sans-serif;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 300px;
  width: 300px;
  background-color: #96c11e54;
  border-radius: 50%;
  position: fixed;
  filter: blur(50px);
  z-index: 9;
}

video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}

#main .page-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  z-index: "10";
}

#main h1 {
  font-size: 62px;
  font-weight: 800;
  font-family: "Tilt Neon", sans-serif;
}

#main h1::after {
  content: "Cyberpunk Verse";
  position: absolute;
  color: black;
  z-index: -1;
  left: 438px;
  -webkit-text-stroke: 2px #95c11e;
  font-family: "Tilt Neon", sans-serif;
}

#main .page-1 h3 {
  font-size: 43px;
  font-weight: 600;
  font-family: "Tilt Neon", sans-serif;
}

#main .page-1 span {
  font-weight: 700;
  font-size: 21px;
  font-family: "Tilt Neon", sans-serif;
}

#page-2 {
  height: 100vh;
  width: 100%;
  z-index: "10";
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

.scroller-1 {
  display: inline-block;
  white-space: nowrap;
  animation: scroller infinite;
  animation-duration: 30s;
}

.scroller-2 {
  display: inline-block;
  white-space: nowrap;
  animation: scroller  infinite;
  animation-duration: 30s;
}

#scroller h2 {
  display: inline-block;
  font-size: 130px;
  font-weight: 800;
  margin-right: 10px;
  -webkit-text-stroke: 2px #95c11e;
  cursor: pointer;
  transition: all linear 0.4s;
}

#scroller h2:hover{
  color: #a9e20b;
}

@keyframes scroller {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
